## DefaultTacticsAmbulanceTeam
DefaultTacticsAmbulanceTeam.HumanDetector : victory.module.complex.VictoryHumanDetector
DefaultTacticsAmbulanceTeam.Search : victory.module.complex.VictorySearch
DefaultTacticsAmbulanceTeam.ExtActionTransport : adf.impl.extaction.DefaultExtActionTransport
DefaultTacticsAmbulanceTeam.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsAmbulanceTeam.CommandExecutorAmbulance : adf.impl.centralized.DefaultCommandExecutorAmbulance
DefaultTacticsAmbulanceTeam.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScout

## DefaultTacticsFireBrigade
DefaultTacticsFireBrigade.BuildingDetector : victory.module.complex.VictoryBuildingDetector
DefaultTacticsFireBrigade.HumanDetector : victory.module.complex.VictoryHumanDetector
DefaultTacticsFireBrigade.Search : victory.module.complex.VictorySearch
DefaultTacticsFireBrigade.ExtActionFireRescue : adf.impl.extaction.DefaultExtActionFireRescue
DefaultTacticsFireBrigade.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsFireBrigade.CommandExecutorFire : adf.impl.centralized.DefaultCommandExecutorFire
DefaultTacticsFireBrigade.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScout

## DefaultTacticsPoliceForce
DefaultTacticsPoliceForce.RoadDetector : victory.module.complex.VictoryRoadDetector
DefaultTacticsPoliceForce.Search : victory.module.complex.VictorySearch
DefaultTacticsPoliceForce.ExtActionClear : adf.impl.extaction.DefaultExtActionClear
DefaultTacticsPoliceForce.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsPoliceForce.CommandExecutorPolice : adf.impl.centralized.DefaultCommandExecutorPolice
DefaultTacticsPoliceForce.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScoutPolice

## DefaultTacticsAmbulanceCentre
DefaultTacticsAmbulanceCentre.TargetAllocator : victory.module.complex.VictoryAmbulanceTargetAllocator
DefaultTacticsAmbulanceCentre.CommandPicker : adf.impl.centralized.DefaultCommandPickerAmbulance

## DefaultTacticsFireStation
DefaultTacticsFireStation.TargetAllocator : victory.module.complex.VictoryFireTargetAllocator
DefaultTacticsFireStation.CommandPicker : adf.impl.centralized.DefaultCommandPickerFire

## DefaultTacticsPoliceOffice
DefaultTacticsPoliceOffice.TargetAllocator : victory.module.complex.VictoryPoliceTargetAllocator
DefaultTacticsPoliceOffice.CommandPicker : adf.impl.centralized.DefaultCommandPickerPolice

## victory modules
VictorySearch.PathPlanning : victory.algorithm.VictoryPathPlanning
VictorySearch.Clustering : victory.algorithm.VictoryClustering
VictoryBuildingDetector.Clustering : victory.algorithm.VictoryClustering
VictoryRoadDetector.Clustering : victory.algorithm.VictoryClustering
VictoryRoadDetector.PathPlanning : victory.algorithm.VictoryPathPlanning
VictoryHumanDetector.Clustering : victory.algorithm.VictoryClustering

## DefaultExtActionClear
DefaultExtActionClear.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultExtActionFireFighting
DefaultExtActionFireFighting.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultExtActionFireRescue
DefaultExtActionFireRescue.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultExtActionMove
DefaultExtActionMove.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultExtActionTransport
DefaultExtActionTransport.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultCommandExecutorAmbulance
DefaultCommandExecutorAmbulance.PathPlanning : victory.algorithm.VictoryPathPlanning
DefaultCommandExecutorAmbulance.ExtActionTransport : adf.impl.extaction.DefaultExtActionTransport
DefaultCommandExecutorAmbulance.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorFire
DefaultCommandExecutorFire.PathPlanning : victory.algorithm.VictoryPathPlanning
DefaultCommandExecutorFire.EtxActionFireRescue : adf.impl.extaction.DefaultExtActionFireRescue
DefaultCommandExecutorFire.EtxActionFireFighting : adf.impl.extaction.DefaultExtActionFireFighting
DefaultCommandExecutorFire.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorPolice
DefaultCommandExecutorPolice.PathPlanning : victory.algorithm.VictoryPathPlanning
DefaultCommandExecutorPolice.ExtActionClear : adf.impl.extaction.DefaultExtActionClear
DefaultCommandExecutorPolice.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorScout
DefaultCommandExecutorScout.PathPlanning : victory.algorithm.VictoryPathPlanning

## DefaultCommandExecutorScoutPolice
DefaultCommandExecutorScoutPolice.PathPlanning : victory.algorithm.VictoryPathPlanning
DefaultCommandExecutorScoutPolice.ExtActionClear : adf.impl.extaction.DefaultExtActionClear

## MessageManager
MessageManager.PlatoonChannelSubscriber : adf.impl.module.comm.DefaultChannelSubscriber
MessageManager.CenterChannelSubscriber : adf.impl.module.comm.DefaultChannelSubscriber
MessageManager.PlatoonMessageCoordinator : adf.impl.module.comm.DefaultMessageCoordinator
MessageManager.CenterMessageCoordinator : adf.impl.module.comm.DefaultMessageCoordinator

## VisualDebug
VisualDebug : true
